---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
    <div class="flex w-full justify-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScEmvfrFHbBuLdWBgXeOFuqcXDwpQcfQ35xmO18MTflvYyfjg/viewform?embedded=true" width="640" height="689" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</Layout>