---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
    <div class="flex flex-col w-full justify-center items-center">

        <form method="POST" id="form" class="w-full max-w-xl">

        <!-- Replace with your Access Key -->
        <input type="hidden" name="access_key" value="25093bd9-996a-447a-920d-7469c21acadd">

        <!-- Form Inputs. Each input must have a name="" attribute -->
        <div class="py-12">
          <h2 class="text-2xl font-bold text-white">Contact</h2>
          <div class="mt-8">
            <div class="grid grid-cols-1 gap-6 ">
              <label class="block">
                <span class="text-white">Full name</span>
                <input
                  type="text" name="full_name"
                  class="block w-full rounded-md bg-black/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-white focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500"
                  placeholder=""
                />
              </label>
              <label class="block">
                <span class="text-white">Email address</span>
                <input
                  type="email" name="email"
                  class="block w-full rounded-md bg-black/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-white focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500"
                  placeholder="john@example.com"
                />
              </label>
              <label class="block">
                <span class="text-white">Message</span>
                <textarea name="message"
                  class="block w-full rounded-md bg-black/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-white focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500"
                  rows="2"
                ></textarea>
              </label>
            </div>
          </div>
        </div>

        <!-- Honeypot Spam Protection -->
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

        <!-- Custom Confirmation / Success Page -->
        <!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->

        <button type="submit" class="p-2 rounded-md bg-slate-200 cursor-pointer" >Submit</button>

        </form>
        <div id="result"></div>
    </div>
</Layout>

<script is:inline>
const form = document.getElementById('form');
const result = document.getElementById('result');

form.addEventListener('submit', function(e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.className = "text-white";
    result.innerHTML = "Please wait...";

    fetch('https://api.web3forms.com/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: json
        })
        .then(async (response) => {
            let json = await response.json();
            result.className = "";
            if (response.status == 200) {
                result.className = "text-green-500";
                result.innerHTML = json.message;
            } else {
                console.log(response);
                result.className = "text-red-500";
                result.innerHTML = json.message;
            }
        })
        .catch(error => {
            console.log(error);
            result.className = "text-red-500";
            result.innerHTML = "Something went wrong!";
        })
        .then(function() {
            form.reset();
            setTimeout(() => {
                result.innerHTML = "";
                result.className = "text-white";
            }, 3000);
        });
});
</script>
