---
import { Image } from "astro:assets";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../images/*.{jpg,jpeg,png,webp,JPG,JPEG}",
);
---

<Layout>
	<div class="flex w-full justify-center">
		<div class="block md:hidden flex flex-col space-y-2 px-2">
		{
			Object.entries(images).map(async ([_path, image], index) => {
				const { default: imageData } = await image();
				return (
					<div class="flex w-full items-center justify-center">
						<Image class="drop-shadow-lg rounded-md"
							format="webp"
							src={imageData}
							alt=""
							layout='constrained' 
							width={400} 
							height={500}
							loading={index < 5 ? "eager" : "lazy"}
							/>
					</div>
				);
			})
		}
		</div>
		<div class="hidden md:grid max-w-3xl grid-cols-3 gap-4 p-2">
			{
				Object.entries(images).map(async ([_path, image], index) => {
					const { default: imageData } = await image();
					return (
						<div class="flex w-full items-center justify-center">
							<Image class="drop-shadow-lg rounded-md"
								format="webp"
								src={imageData}
								alt=""
								layout='constrained' 
								width={400} 
								height={500}
								loading={index < 5 ? "eager" : "lazy"}
								/>
						</div>
					);
				})
			}
		</div>
	</div>
</Layout>
